.dashboard {
  padding: 30px;
  margin: 10px;
}
.blogs {
  padding: 20px;
}
.blog {
  width: 500px;
  height: 120px;
  background-color: azure;
  border: 1px solid grey;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
}

.header {
  display: flex;
}
.header-elem {
  padding: 5px;
  margin: 5px;
}
.profile-page {
  padding: 30px;
  margin: 10px;
}
